<table class="grid">
<tr><td><a href="https://gitlab.com/elga-gmbh/termgit-dev/-/raw/320d6711e50d94185473ab79f9d15f7ad0ce46d1/terminologies/ValueSet-elga-wirkstoffe-ages/CodeSystem-zuppl-medikation-ages-wirkstoffe-4-elga-wirkstoffe-ages.4.fhir.json?inline=false">download FHIR R4 json</a></td><td><a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/elga-gmbh/termgit-dev/-/raw/320d6711e50d94185473ab79f9d15f7ad0ce46d1/terminologies/ValueSet-elga-wirkstoffe-ages/CodeSystem-zuppl-medikation-ages-wirkstoffe-4-elga-wirkstoffe-ages.4.fhir.json">raw FHIR R4 json (from GitLab)</a></td></tr>
</table>